header {
    background-image: url(./assets/background.png);
    background-size: cover;
    height: 1000px;
    display: flex;
}

body {
    background-color: black;
}

.topMenu {
    list-style: none;
    gap: 0.5rem;
    display: flex;
    height: 15vh;
    width: 100em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu {
    list-style: none;
    gap: 5rem;
    display: flex;
    color: #fff;
    font-size: 1.5em;
    flex: 5;
    align-items: center;
    justify-content: center;
}

.logotipo {
    flex-basis: 30%;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}

.logotipo1 {
    color: #FF5B50;
}

.conectCarteira {
    display: flex;
    flex: 5%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.main1 {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.text1 {
    font-size: 3em;
    list-style: none;
    flex-basis: 30%;
    border: blue;
    font-family: Montserrat;
    text-align: center;
    align-items: center;
    padding: 2em;
}

.avatars {
    list-style: none;
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    gap: 3em;
    align-items: flex-start;
}

.imagensMain1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
}

.texto {
    font-family: Montserrat;
    font-size: 1.5em;
    align-items: center;
    justify-content: center
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
}

.gallery img {
    border: 2px solid gray;
}

.main2Informacoes {
    grid-area: main2Inform;
    font-family: Montserrat;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 50px;
    color: #fff;
}

.main2text {
    grid-area: main2text;
    list-style: none;
    display: flex;
    font-family: Montserrat;
    font-size: 1.5em;
    color: #fff;
    width: 1100px;
    gap: 1rem;
}

.main2banner {
    grid-area: main2banner;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main2 {
    display: grid;
    grid-template-columns: 20% 65%;
    grid-template-rows: auto;
    grid-template-areas:
        "main2Inform main2text"
        "main2Inform main2banner "
    ;
    margin-left: 100px;
}

.main2TextColum {
    margin: 0;
    font-size: .6em;
    color: gray
}

.tituloPrincipalMain3 {
    color: #fff;
    font-size: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: 1000px;
    position: relative;
}

.main3 {
    display: flex;
    border-left: 200px;
    border-right: 200px;
}

.main3 div {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: Montserrat;
    font-size: 1.5em;
    padding-right: 100px;
    padding-left: 100px;
}

.astrounauta ul {
    list-style: none;
}

.tituloMain3 {
    font-size: 2.0rem;
    font-weight: bold;
    row-gap: 0.5em;
    color: #fff;
}

.nomeAstrounauta {
    color: gray;
    font-size: 1.5rem;
}

.main4 {
    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "cabecalhoMain4 cabecalhoMain4 cabecalhoMain4 cabecalhoMain4 cabecalhoMain4"
        "artista1Main4 . artista2Main4 . artista3Main4"
        "artista4Main4 . artista5Main4 . artista6Main4"
        "footerMain4 footerMain4 footerMain4 footerMain4 footerMain4"
    ;
    gap: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.tituloMain4 {
    grid-area: cabecalhoMain4;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.artista1Main4 {
    grid-area: artista1Main4;
}

.artista2Main4 {
    grid-area: artista2Main4;
    background-color: #FF5B50;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    font-size: 1.2rem;
    gap: 2em;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
}

.artista3Main4 {
    grid-area: artista3Main4;
    background-color: yellow;
}

.artista4Main4 {
    grid-area: artista4Main4;
    background-color: green;
}

.artista5Main4 {
    grid-area: artista5Main4;
    background-color: red;
}

.artista6Main4 {
    grid-area: artista6Main4;
    background-color: white;
}


.artista1Main4,
.artista3Main4,
.artista4Main4,
.artista5Main4,
.artista6Main4 {
    background-color: #252525;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    font-size: 1.2rem;
    row-gap: .5em;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
}

.footerMain4 {
    grid-area: footerMain4;
    text-align: center;
    margin-top: 50px;
    color: gray;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

footer {
    background-color: #252525;
    height: 709px;
    margin-top: 50px;
}

.setaFooter {
    background-color: #FF5B50;
    padding: 20px;
    height: 40px;
    width: 40px;
}

.textFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.text2Footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-top: 50px;
    color: #5A5757;
}

table tr th {
    color: #fff;
}

#tableFooter {
    display: flex;
    justify-content: flex-end;
    padding-left: 50px; padding-right: 50px;
}

.emailFooter {
    width: 402px;
    height: 66px;
}

input {
    width: 70%;
    height: 50px;
    font-size: 20px;
}

button {
    width: 20%;
    height: 55px;
    font-size: .8em;
    font-weight: bold;
}

.text2Footer div li {
    font-size: 1.5em;
    width: 400px;
    list-style: none;
    color: #fff;
    margin-bottom: 50px;
}

hr {
    color: gray;
}

.iconsFooter {
    display: flex;
    justify-content: space-between;
    color: gray;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 1.5em;
    margin-top: 50px;
}